.btn {
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 19px;
  border-color: blue;
  background-color: blue;
  color: white;
  cursor: pointer;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
.btn:hover {
  background-color: blue;
  background: linear-gradient(90deg, #638DBB 0%, #2D3B57 100%);
}
.bottom-links {
    position: absolute;
}